@import 'variables';

button {
  padding: 10px 15px;
  border: 1px solid transparent;
  text-transform: uppercase;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    transform: translateY(2px);
  }

  &.transparent {
    background: transparent;
    color: white;
    border-color: white;

    &:hover {
      background: white;
      color: var(--color-brand);
    }
  }

  &.primary {
    background: var(--color-brand);
    color: white;
    border-color: var(--color-brand);

    &:hover {
      background: var(--color-brand-dark);
    }
  }
}
