<main>
  <section class="login">
    <h1>Log In</h1>
    <form name="loginForm" method="post" (submit)="login()" *ngIf="!loggingIn">
      <div class="form-field">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" autofocus="true">
      </div>
      <div class="form-field">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
      </div>
      <div class="form-buttons">
        <button class="transparent" type="submit">Submit</button>
      </div>
    </form>
    <div class="loading" *ngIf="loggingIn"></div>
    <a class="signup-link" routerLink="/signup" *ngIf="!loggingIn">Don't have an account? Click here to sign up!</a>
    <p class="error" *ngIf="failed">{{ errorMessage }}</p>
  </section>
</main>
