@import 'variables';

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--color-brand);
  color: white;

  .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form {
      width: 50%;

      .form-field {
        padding: 10px 0;
        display: flex;

        label {
          width: 100px;
        }

        input {
          flex: 1;
        }
      }

      .form-buttons {
        padding: 5px 0;
        text-align: right;
      }
    }

    .signup-link {
      text-decoration: none;
      color: var(--color-secondary);
    }
  }
}
