@import 'variables';

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--color-brand);
  color: white;

  .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .signup-link {
      text-decoration: none;
      color: var(--color-secondary);
    }
  }
}
