<main>
  <section class="todo">
    <h1>Much <span class="hl">TODO</span></h1>
    <div class="todos">
      <div class="header">
        <input type="text" id="newTodo" autofocus="true" placeholder="What needs to be done?">
      </div>
      <div class="body">
        <ul>
          <li *ngFor="let todo of selectedTodos">
            <div>
              <input type="checkbox">
              <span>{{ todo.description }}</span>
            </div>
            <div>
              <span class="delete" (click)="deleteTodo(todo)">&times;</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="footer">
        <span class="count">Count: {{ selectedTodos?.length }}</span>
        <ul class="filters">
          <li class="filter" *ngFor="let filter of filters" [class.active]="filter == activeFilter" (click)="activateFilter(filter)">
            {{ filter }}
          </li>
        </ul>
      </div>
    </div>
  </section>
</main>
