<main>
  <section class="todo">
    <h1>Much <span class="hl">TODO</span></h1>
    <div class="todos">
      <div class="header">
        <input type="text" id="newTodo" autofocus="true" placeholder="What needs to be done?">
      </div>
      <div class="body">
        <ul>
          <li *ngFor="let todo of todos">
            <div>
              <input type="checkbox">
              <span>{{ todo }}</span>
            </div>
            <div>
              <span class="delete" (click)="deleteTodo(todo)">&times;</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
</main>
