@import 'variables';

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--color-brand);
  color: white;

  .signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
