@import 'variables';
@import 'mixins';
@import 'animations';
@import 'buttons';
@import 'forms';
@import 'loading';
@import 'errors';

html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
  font-weight: var(--weight-heavy);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

